@charset "utf-8";
/* memberArea 영역 시작 */
#rankArea {
    width: 1020px;
    margin-left: 10px;
    position: relative;
}
#rankArea h2 {
    font-size: 1.5em;
    font-family: "NanumEX";
    color: #d80e30;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.name {
    text-align: left;
    margin: 5px 0 5px;
}
/* memberArea 영역 종료 */
